<!DOCTYPE html>
<html>
    <head>
        <title>Add Task</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script type="text/javascript" src="/static/js/check.js"></script>
    </head>
    <body>
        <h1>Add your task</h1>
        <hr>
        <p><a href="list.html">Back to the list</a></p>
        <table>
            <form action="add.html" method="post", name="add", onSubmit="return check()">
                <tr>
                    <th>
                        Content
                    </th>
                    <td>
                        <font color="red">*</font>
                        <input type="text" name="contents" value="" size="24">
                    </td>
                </tr>
                <tr>
                    <th>
                        Status
                    </th>
                    <td>
                        <font color="red">*</font>
                        <select name="status">
                            <option value="notstarted">NOT STARTED</option>
                            <option value="finished">FINISHED</option>
                            <option value="working">WORKING</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <th>
                        Deadline
                    </th>
                    <td>
                        <font color="red">*</font>
                        <input type="date" name="deadline" value="" size="24">
                    </td>
                </tr>
                <tr>
                    <th>
                        Detail
                    </th>
                    <td>
                        <font color="red">*</font>
                        <input type="text" name="detail" value="" size="24">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Add">
                    </td>
                </tr>
            </form>
        </table>
    </body>
</html>
