<!DOCTYPE html>
<html>
    <head>
        <title>
            Complete Task
        </title>
    </head>
    <body>
        <h1>Log in form</h1>
        <hr>
        <table>
            <form action="list.html" method="post">
                <tr>
                    <th>User name : </th>
                    <td>
                        <input type="text" name="user_name" value="" size="24">
                    </td>
                </tr>
                <tr>
                    <th>Password : </th>
                    <td>
                        <input type="password" name="password" value="" size="24">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="Log In">
                    </td>
                </tr>
            </form>
        </table>
        <a href="regist.html">if you don't have the account, please click here</a>
    </body>
</html>
