<!DOCTYPE html>
<html>
    <head>
        <title>List</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script type="text/javascript" src="/static/js/list.js"></script>
    </head>
    <body>
        <h1>{{username}}'s task</h1>
        <hr>
        <a href="add.html">Task Add</a>
        <a href="index.html">Log Out</a>
        <br>
        <select name="displayData">
            <option value="all">ALL</option>
            <option value="finished">FINISHED</option>
            <option value="working">WORKING</option>
            <option value="notstarted">NOT STARTED</option>
        </select>
        <table border="1" id="task">
            <tr>
                <td>Contents</td>
                <td>Status</td>
                <td>Deadline</td>
                <td>Detail</td>
                <td>Edit</td>
                <td>Delete</td>
            </tr>
            {% for task in tasks %}
            <tr>
                <td>{{ task[0] }}</td>
                <td>{{ task[1] }}</td>
                <td>{{ task[2] }}</td>
                <td>{{ task[3] }}</td>
                <td><a href="edit?no={{ task[5] }}">Edit</a></td>
                <td><a href="delete?no={{ task[5] }}" onClick="return check()">Delete</a></td>
            </tr>
            {% endfor %}
            <script type="text/javascript" src="/static/js/change.js"></script>
        </table>
    </body>
</html>
