<!DOCTYPE html>
<html>
    <title>Registration</title>
    <body>
        <h1>
            Registration
        </h1>
        <table>
            <form action="index.html", method="post">
                <tr>
                    <th>
                        user name : 
                    </th>
                    <td>
                        <input type="text" name="user_name" value="" size="24">
                    </td>
                </tr>
                <tr>
                    <th>
                        password : 
                    </th>
                    <td>
                        <input type="password" name="password" value="" size="24">
                    </td>
                </tr>
                <tr>
                    <th>
                        confirm : 
                    </th>
                    <td>
                        <input type="password" name="confirm" value="" size="24">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="regist">
                    </td>
                </tr>
            </form>
        </table>
    </body>
</html>
