<!DOCTYPE html>
<html>
    <head>
        <title>Registration</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <script type="text/javascript" src="/static/js/regist.js"></script>
    </head>
    <body>
        <h1>
            Registration
        </h1>
        <hr>
        <p><a href="index.html">Back to the index</a></p>
        <table>
            <div id="error"><font color="red">{{error}}</font></div>
            <form action="index.html", method="post" name="regist" onSubmit="return check()">
                <tr>
                    <th>
                        user name : 
                    </th>
                    <td>
                        <input type="text" name="user_name" value="" size="24">
                    </td>
                </tr>
                <tr>
                    <th>
                        password : 
                    </th>
                    <td>
                        <input type="password" name="password" value="" size="24">
                    </td>
                </tr>
                <tr>
                    <th>
                        confirm : 
                    </th>
                    <td>
                        <input type="password" name="confirm" value="" size="24">
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="submit" value="regist">
                    </td>
                </tr>
            </form>
        </table>
    </body>
</html>
