<!DOCTYPE html>
<html>
    <head>
        <title>View Task</title>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
        <link rel="stylesheet" href="/static/css/view.css">
    </head>
    <body>
        <h1>View your task</h1>
        <hr>
        <p><a href="list">Back to the list</a></p>
        <div class="cp_tab">
            {% for i in range(length) %}
            {% if i == 0 %}
            <input type="radio" name="cp_tab" id="tab1_{{i}}" aria-controls="first_tab0{{i}}" checked>
            {% else %}
            <input type="radio" name="cp_tab" id="tab1_{{i}}" aria-controls="first_tab0{{i}}">
            {% endif %}
            <label for="tab1_{{i}}">
                {% if i == 0 %}
                latest
                {% endif %}
                {% if i == 1 %}
                pre1
                {% endif %}
                {% if i == 2 %}
                pre2
                {% endif %}
            </label>
            {% endfor %}
            <div class="cp_tabpanels">
                {% for i in range(length) %}
                <div id="first_tab0{{i}}" class="cp_tabpanel">
                    <table>
                        <th>
                            Content
                        </th>
                        <tr>
                            <td>
                                {{ tasks[i][0][0] }}
                            </td>
                        </tr>
                        <th>
                            Status
                        </th>
                        <tr>
                            <td>
                                {{ tasks[i][0][1] }}
                            </td>
                        </tr>
                        <th>
                            Deadline
                        </th>
                        <tr>
                            <td>
                                {{ tasks[i][0][2] }}
                            </td>
                        </tr>
                        <th>
                            Detail
                        </th>
                        <tr>
                            <td>
                                {{ tasks[i][0][3] | cr }}
                            </td>
                        </tr>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
